$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$white: #cdd6f4;
$gray1: #a6adc8;
$gray2: #6c7086;
$gray3: #313244;
$base: #1e1e2e;
$mantle: #181825;
$black: #11111b;

$text: $white;
$foreground: $mantle;
$background: $base;
$accent: $green;
$accent2: $mauve;

$corners: 12px;

$font: Varela Round;
$nerdfont: FiraCode Nerd Font Mono;

* {
	all: unset;
}

tooltip.background {
	background-color: rgba($color: $black, $alpha: 0.9);
	font-size: 18;
	border-radius: $corners;
	color: $white;
}


@import "bar/eww.scss";
@import "menu/eww.scss";
