*{
	all: unset;
}

.main {
	border-radius: 10px;
	background-color: #16161E;
}

.vol, .bright {
	font-family: FiraMono Nerd Font Mono;
	font-size: 80px;
}

scale trough {
	background-color: #24283B;
	border-radius: 30px;
	min-height: 30px;
	min-width: 200px;
	margin: 0px 10px 0px 5px;
}

.volbar trough highlight {
	background-color: #53DA78;
	border-radius: 30px;
}
.brightbar trough highlight {
	background-color: #53DA78;
	border-radius: 30px;
}
