/** Global *******************************************/

// Variable Color's
$background: #24283B;
$foreground: #A9B1D6;

$black: #1C1D29;
$gray: #282C3F;
$red: #F7768E;
$green: #73DACA;
$green2: #53DA78;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: #FFFFFF;

*{
	all: unset;
	font-family: FiraMono Nerd Font Mono;
}

/** Background ***************************************/
.bg {
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: $background;
	border-radius: 16px;
	// padding: 10px;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: $red;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: $cyan;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .icontemp, .iconbat {
	background-color: $gray;
}
.labelcpu, .labelmem, .labeltemp, .labelbat {
	padding: 20px 20px 20px 20px;
	font-size : 62px;
	margin: 15px;
	font-weight : bold;
}
.iconcpu, .labelcpu {
	color: $red;
}
.iconmem, .labelmem {
	color: $green;
}
.icontemp, .labeltemp {
	color: $yellow;
}
.iconbat, .labelbat {
	color: $cyan;
}


/** Clock ********************************************/
.time_hour, .time_min {
	color: $blue;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: $green;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 10px 0px 0px;
}

.time_day {
	color: $yellow;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 10px 20px -20px;
}

/** Uptime ********************************************/
.icontimer {
	color: $magenta;
	font-size : 90px;
	font-weight : normal;
}

.uphour {
	color: $foreground;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: $foreground;
	font-size : 32px;
	font-weight : bold;
}

/** Music ***************************************/
.album_art {
	background-size: 240px;
	min-height: 240px;
	min-width: 240px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: $blue;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: $yellow;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: FiraMono Nerd Font Mono;
}
.btn_prev {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: $green;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $magenta;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $gray;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-family: FiraMono Nerd Font Mono;
	font-size : 100px;
	font-weight : normal;
	margin: 0px 0px 0px 10px;
}

.label_temp {
	color : $cyan;
	font-size : 80px;
	font-weight : bold;
	margin: 0px 0px 0px 10px;
}

.label_stat {
	color : $red;
	font-size : 38px;
	font-weight : bold;
	margin: 0px 0px 0px 10px;
}

.label_quote {
	color : $foreground;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 15px 0px 0px 25px;
}

.app_fox, .app_telegram, .app_discord, .app_terminal,
.app_files, .app_geany, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

/** Links ***************************************/
.iconweb {
	color: $white;
	font-family: FiraMono Nerd Font Mono;
	font-size : 70px;
	font-weight : normal;
}


.github {
	background-color: #24292E;
	border-radius: 16px;
}
.reddit {
	background-color: #E46231;
	border-radius: 16px;
}
.whatsapp {
	background-color: #80D589;
	border-radius: 16px;
}
.youtube {
	background-color: #DF584E;
	border-radius: 16px;
}


/** Calendar *****************************************/
calendar{
	&:selected {
		font-size: 30px;
		color: $blue;
	}
	&.header {
		font-size: 100px;
		color: $red;
		font-weight: bold;
	}

	&.button {
		font-size: 30px;
		color: $red;
	}

	&.highlight {
		font-size: 30px;
		color:  $magenta;
		font-weight: bold;
	}

	&:indeterminate {
		font-size: 30px;
		color: #16161E;;
	}
	font-family: "FiraMono Nerd Font Mono";
	font-weight: bold;
	font-size: 20px;
	padding: 6px 7px 7px 7px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color: $red;
}
.btn_sleep {
	color: $green;
}
.btn_reboot {
	color: $yellow;
}
.btn_poweroff {
	color: $cyan;
}

/** Home folders ***************************************/
.hddbox {
	background-color: $gray;
	border-radius: 10px;
	margin : 15px;
}
.hddicon {
	color: $blue;
	font-family: FiraMono Nerd Font Mono;
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;
}
.hdd_label {
	color: $foreground;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}
.fs_sep {
	color: $background;
	font-size : 36px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: FiraMono Nerd Font Mono;
	font-size : 32px;
	font-weight : normal;
	margin : 0px 0px 0px 75px;
}
.iconfolder1 {
	color: $red;
}
.iconfolder2 {
	color: $green;
}
.iconfolder3 {
	color: $yellow;
}
.iconfolder4 {
	color: $blue;
}
.iconfolder5 {
	color: $magenta;
}
.iconfolder6 {
	color: $cyan;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color: $red;
}
.label_folder2 {
	color: $green;
}
.label_folder3 {
	color: $yellow;
}
.label_folder4 {
	color: $blue;
}
.label_folder5 {
	color: $magenta;
}
.label_folder6 {
	color: $cyan;
}

/** EOF *************************************************/
