.menu_main {
	background-color: rgba($color: $black, $alpha: 0.8);
	border-radius: $corners;
	margin: 5px 0px 5px 65px;
}

scale trough slider {
	background-color: rgba($color: #000000, $alpha: 0);
	min-height: 20px;
	min-width: 20px;
}

.menu-button-false {
	background-color: $background;
	border-radius: $corners;
	margin: 10px 15px 10px 15px;
	transition: 0.3s ease background;
}

.menu-button-true {
	background-color: $accent;
	border-radius: $corners;
	margin: 10px 15px 10px 15px;
	transition: 0.3s ease background;
}

.menu-button {
	background-color: inherit;
	border-radius: $corners;
	padding: 10px 75px 10px 80px;
	font-family: $nerdfont;
	font-weight: bold;
	font-size: 50px;
}


.bar-volume-off {
	margin: -14px 10px -10px 10px;
	font-size: 43px;
	color: $gray2;
	font-family: $nerdfont;
}

.bar-volume-on {
	margin: -14px 10px -10px 10px;
	font-size: 43px;
	color: $accent;
	font-family: $nerdfont;
}

.bar-volume-slider trough, .bar-brightness-slider trough {
	background-color: $background;
	border-radius: 7px;
	min-height: 160px;
	margin: 10px;
	min-width: 20px;
	margin: .3rem 0 .3rem 0;
}

.bar-volume-slider trough highlight, .bar-brightness-slider trough highlight  {
	background-color: $accent;
	border-radius: 7px;
}


.bar-brightness {
	color: $accent;
	margin: -9px 0px;
	font-size: 40px;
	font-family: $nerdfont;
}

.menu-system {
	margin: 10px 15px;
	padding: 20px;
	background-color: $background;
	border-radius: $corners;
}

.menu-cal {
	margin: 10px 15px;
	background-color: $background;
	border-radius: $corners;
}

.menu-cpu  .top,
.menu-mem  .top,
.menu-temp  .top,
.menu-bat .top {
	color: $text;
	font-family: $font;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 10px 0;
}

.menu-cpu  trough,
.menu-mem  trough,
.menu-temp  trough,
.menu-bat trough {
	background-color: $foreground;
	border-radius: $corners;
	min-height: 330px;
	min-width: 50px;
	margin: -10px 0px 0px 0px;
}

.menu-cpu  trough highlight,
.menu-mem  trough highlight,
.menu-temp  trough highlight,
.menu-bat trough highlight {
	background-color: $accent;
	border-radius: $corners;
}

.menu-box {
	color: $accent;
	border-radius: $corners;
	padding: 30px 30px 30px 30px;
}

.menu-label-2 {
	font-family: $font;
	font-size: 20px;
	color: $accent;
	font-weight: 500;
	padding: 0px 30px 0px 30px;
}

.menu-cpu-label {
	font-family: $font;
	font-size: 20px;
	color: $text;
}
.menu-mem-label,
.menu-temp-label,
.menu-bat-label {
	font-family: $font;
	font-size: 20px;
	color: $text;
	margin: 0px 10px 0px 45px;
}

.menu-storage {
	border-radius: $corners;
	background-color: $background;
	margin: 10px 15px;
	padding: 10px;
}

.menu-disk-root trough {
	background-color: $foreground;
	border-radius: $corners;
	min-height: 20px;
	min-width: 300px;
	margin: -10px 0px 20px 0px;
}

.menu-disk-user trough {
	background-color: $foreground;
	border-radius: 7px;
	min-height: 20px;
	min-width: 300px;
	margin: -10px 0px 0px 0px;
}


.menu-disk-root trough highlight, .menu-disk-user trough highlight {
	background-color: $accent;
	border-radius: 7px;
}

.menu-disk-icon {
	font-family: $nerdfont;
	font-size: 40px;
	color: $text;
}

.menu-disk-label {
	font-family: $font;
	font-size: 20px;
	color: $text;
	margin: 0px 0px 0px -50px;
    font-family: $font;
	font-weight: bold;
}

.menu-artist {
	color: $text;
	font-size: 20px;
	font-weight: bold;
}

.menu-song {
	color: $text;
	font-size: 30px;
	font-weight: bold;
}

.menu-album-art {
	background-size: cover;
	margin: 10px 15px;
	font-family: $font;
	background-color: $background;
	border-radius: $corners;
	padding: 0px 10px 0px 10px;
}

.menu-weather {
	border-radius: $corners;
	background-color: $background;
	font-family: $font;
	margin: 10px 15px;
	padding: 10px;
}

.menu-weather-value {
	font-size: 50px;
	font-weight: 600;
}

.menu-weather-icon {
	font-size: 100;
}

.menu-weather-stat {
	font-size: 35;
}

.menu-music-scale scale trough highlight {
	background-color: $accent;
	border-radius: 7px;
}

.menu-music-scale scale trough {
	background-color: $foreground;
	border-radius: 7px;
	min-height: 10px;
	min-width: 440px;
}

.menu-music-next {
	color: $accent;
	font-size: 30px;
}

.menu-music-pause {
	color: $accent;
	font-size: 30px;
}

.menu-music-prev {
	color: $accent;
	font-size: 30px;
}

.cal-inner-box {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

calendar {
	&:selected {
		font-size: 30px;
		color: $blue;
	}

	&.header {
		font-size: 100px;
		color: $red;
		font-weight: bold;
	}

	&.button {
		font-size: 30px;
		color: $red;
	}

	&.highlight {
		font-size: 30px;
		color: $mauve;
		font-weight: bold;
	}

	&:indeterminate {
		font-size: 30px;
		color: #16161E;
		;
	}

	font-family: $font;
	font-weight: bold;
	font-size: 20px;
	padding: 6px 7px 7px 7px;
}


