.bar {
	background-color: rgba($color: $background, $alpha: 0);
	border-radius: $corners;
	margin: 1px 0px;
}


check {
	border-radius: $corners;
	min-width: 13px;
	min-height: 13px;
	background: rgba(255, 255, 255, 0.2);
	margin-right: 0.5rem;
}

check:checked {
	background: $accent;
	box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.5);
}

arrow.right {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid $accent;
}

arrow.left {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;

	border-right: 7px solid $accent;
}

menu {
	background: $black;
	border-radius: $corners;
	padding: 5px;
	font-size: 15px;
}

menu>menuitem {
	padding: 5px 10px 5px 10px;
	border-radius: $corners;
	background: transparent;
	margin: 2px;
}

menu>menuitem:hover {
	background: rgba(255, 255, 255, 0.1);
}

menu>separator {
	background-color: $gray3;
}

menu>menuitem label:disabled {
	color: $gray2;
	font-weight: 600;
}

menu>menuitem check:checked~label {
	color: $accent;
	font-weight: 600;
}

menubar>menuitem {
	margin-left: 0.6rem;
}


menuitem {
	padding: 0px 0px 8px 0px;
}



.bar-workspace {
	font-size: 30px;
	font-family: $nerdfont;
	background-color: $black;
	border-radius: $corners;
	margin: 3px;
	padding: 5px 0px 5px 0px;
}

.w,
.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9,
.w11,
.w22,
.w33,
.w44,
.w55,
.w66,
.w77,
.w88,
.w99 {
	margin: 2px 0px;
	background-color: $black;
}

.w {
	color: $gray3;
}

.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9 {
	color: $text;
}

.w11,
.w22,
.w33,
.w44,
.w55,
.w66,
.w77,
.w88,
.w99 {
	color: $accent;
}

.bar-control {
	font-family: $font;
	font-weight: bold;
	font-size: 25px;
	padding: 10px 0px 0px 0px;
	background-color: $black;
	border-radius: $corners;
	margin: 3px;
}

.bar-mic {
	color: $red;
	padding: 4px;
}

.bar-battery {
	font-weight: bold;
	font-family: $font;
	font-size: 12px;
	padding: 7px;

}


.bar-volume-off {
	margin: -14px 0px -10px 0px;
	font-size: 43px;
	color: $gray2;
	font-family: $nerdfont;
}

.bar-volume-on {
	margin: -14px 0px -10px 0px;
	font-size: 43px;
	color: $accent;
	font-family: $nerdfont;
}

.bar-volume-slider trough {
	all: unset;
	background-color: $background;
	border-radius: $corners;
	min-height: 80px;
	min-width: 10px;
	margin: .3rem 0 .3rem 0;
}

.bar-volume-slider trough highlight {
	background-color: $accent;
	border-radius: $corners;
}

.bar-brightness {
	color: $accent;
	margin: -9px 0px;
	font-size: 40px;
	font-family: $nerdfont;
}

.bar-brightness-slider trough {
	all: unset;
	background-color: $background;
	border-radius: $corners;
	min-height: 80px;
	min-width: 10px;
	margin: .3rem 0 .3rem 0;
}

.bar-brightness-slider trough highlight {
	background-color: $accent;
	border-radius: $corners;
}


.bar-time {
	font-family: $font;
	font-weight: bold;
	font-size: 20px;
	background-color: $black;
	color: $white;
	margin: 5px;
}

.bar_bottom {
	border-radius: $corners;
	background-color: $black;
	margin: 3px;
}


.bar-tray {
	color: $white;
	margin: 0px 0px 5px -8px;
	font-size: 15px;
	font-weight: 500;
}


.bar-powermenu {
	font-family: $font;
	font-size: 25px;
	font-family: $nerdfont;
}

.bar-button-off {
	color: $green;
	font-family: $nerdfont;
}

.bar-button-bspres {
	margin-bottom: .5rem;
	color: $accent2;
	font-family: $nerdfont;
}

.bar-button-reb {
	color: $yellow;
	font-family: $nerdfont;
}

.bar-button-quit {
	color: $red;
	font-family: $nerdfont;
}

.bar-button-lock {
	color: $blue;
	font-family: $nerdfont;
}
